$sans-serif:"Source Sans Pro";
$serif:"Poly";
@include google-font {
	@include google-font($sans-serif, 400);
	@include google-font($serif, 400, italic);
}

body {
	font-family: $sans-serif, sans-serif;
	.clip {
		z-index:2;
		position: fixed;
		bottom:3rem;
		left:3rem;
		width:0rem;
		height:0rem;
		border-radius:100%;
		&.anim {
			animation: open 1.5s ease-in;
		}
		@keyframes open {
			0% {
				bottom:3rem;
				left:3rem;
				width:0rem;
				height:0rem;
				clip-path: circle(0rem at center);
			}
			100% {
				//You can't use translate(-50%, -50%) to keep it aligned because it affects the container inside, so you need to animate the position
				bottom:calc(-250vmax + 3rem);
				left:calc(-250vmax + 3rem);
				width:500vmax;
				height:500vmax;
				clip-path: circle(100% at center);
			}
		}
	}
	.container {
		&:not(.dark) {
			--background: #fcfbfe;
			--color:#323133;
			--cardbackground: #ffffff;
			--cardborder: #e9e9e9;
			--cardtext:#323133;
			--cardtext2:#3C3B3D;
			--cardshadow:rgba(0,0,0,0.1);
			--accent:#BF263C;
		}
		&.dark {
			--background: #1C1B20;
			--color:#F5F7FA;
			--cardbackground: #222126;
			--cardborder: #252429;
			--cardtext:#F5F7FA;
			--cardtext2:#E6E9ED;
			--cardshadow:rgba(0,0,0,0.1);
			--accent:#D8334A;
		}
		display:flex;
		flex-direction:column;
		align-items:center;
		overflow:auto;
		position: fixed; //Container becomes the effective body of the document, and multiple containers stack on top of each other just requiring the top to be clipped into a shape and expanded to cover the bottom, then copy the top to the bottom and delete the top.
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		background:var(--background);
		color:var(--color);
		*[class*="card"] {
			background:var(--cardbackground);
			color:var(--cardtext);
			box-shadow:0 0 1rem -.25rem var(--cardshadow);
			&.card-b {
				border: 1px solid var(--cardborder);
			}
		}
		.darkmode {
			position: fixed;
			bottom:1rem;
			left:1rem;
			font-size:1.75rem;
			padding:1rem;
			margin:1px;
			border-radius:100%;
			border-color:var(--accent) !important;
			box-shadow:0 0 1rem -.25rem var(--accent), inset 0 0 1rem -.75rem var(--accent);
			color:var(--accent);
			cursor: pointer;
			transition:.25s -.05s;
			&:hover {
				box-shadow:0 0 1rem -.25rem var(--accent), inset 0 0 1rem -.25rem var(--accent);
				//background:var(--background);
			}
		}
		.page-width {
			max-width:800px;
			width:calc(100vw - 8rem);
		}
		.header {
			z-index:1;
			align-self:stretch;
			display:flex;
			flex-direction:row;
			justify-content:center;
			position: sticky;
			top:0;
			border-bottom: 1px solid var(--cardborder);
			height:4rem;
			line-height:4rem;
			font-size:1.75rem;
			.page-width {
				display:flex;
				flex-direction:row;
				justify-content:space-between;
			}
			.logotext {
				i {
					position: relative;
					top:.15rem;
				}
			}
			.mytwitter {
				position: relative;
				line-height:4rem;
				color:var(--accent);
				text-decoration:none;
				animation: flash 4s ease;
				@keyframes flash {
					0%, 50%, 100% {
						color:var(--accent);
					}
					70%, 80% {
						color:var(--cardtext);
					}
				}
			}
		}
		.page {
			position: relative;
			margin:2rem 0;
			padding:2rem;
			&:not(:last-child) {
				margin-bottom:0rem;
			}
			&:target-within { //I want CSS4 today
				border-color:var(--accent) !important;
			}
			h1, h2, h3, h4, h5, h6 {
				margin:0;
				&:last-child {
					margin-bottom:0;
				}
			}
			h1 {
				display:flex;
				flex-direction:row;
				justify-content:space-between;
				padding-bottom:1rem;
				border-bottom: 1px solid var(--cardborder);
				a {
					text-decoration:none;
					font-weight:200;
					&:hover {
						font-weight:400;
					}
				}
			}
			p:last-child {
				margin-bottom:0;
			}
			a {
				color:var(--accent);
				&:not(:hover) {
					text-decoration:none;
				}
			}
			i {
				color:var(--cardtext2);
				font-family: $serif, sans-serif;
			}
			ul {
				list-style:none;
				padding-left:1rem;
				li:before {
					content: "•";
					margin-right:1rem;
					color: var(--accent);
				}
			}
			>div[id] {
				position: absolute;
				top:calc(-6rem - 2px);
			}
		}
	}
}